.fursion-box {
    box-shadow: 0 0 15px inset;
    height: 30px;
}

.fs-glass {
    filter: blur(6px);
}

.fs-color-red {
    background-color: rgba(179, 222, 110, 0.4);
}

.fs-show button {
    height: 26px;
    width: 60px;
}

.fs-show input {
    height: 20px;
    box-sizing: border-box;
}

.fs-show input[type=button] {
    height: 20px;
    width: 60px;
}

.fs-box-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fs-box-block {
    margin-left: 10px;
    margin-right: 10px;
}

.fs-btn-none {
    border: 0ch;
    border-radius: 3px;
    outline: none;
    font-size: x-small;
    color: white;
}

.fs-color-bl {
    background-color: hsl(180, 75%, 40%);
}

input {
    padding-left: 2px;
}

input:focus {
    outline: none;
    border: 2px solid hsl(195, 40%, 60%);
}

input::placeholder {
    padding-left: 2px;
}

.Split-Box {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: rgba(169, 152, 152, 0.532);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.window-3x3 {
    width: calc(1/3*100%);
    height: calc(1/3*100%);
    box-sizing: border-box;
    border: 1px solid rgba(169, 152, 152, 0.7);
}

.window-2x2 {
    width: calc(1/2*100%);
    height: calc(1/2*100%);
}

.monitor {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: rgba(169, 152, 152, 0.532);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    overflow: hidden;
}

.monitor-window {}

.monitor-iframe {
    width: 100vw;
    height: 100vh;
    transform: scale(0.5, 0.46);
    transform-origin: 0 0;
}

.monitor-iframe-switch {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
}

.monitor-bar-block {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.monitor-bar {
    height: 30px;
    width: 100%;
    background-color: rgba(155, 156, 157, 0.7);
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
}

.monitor-bar input {
    width: 300px;
    border: none;
    border-radius: 3px;
    border-bottom: solid;
    background-color: #f4f4f437;
    overflow: hidden;
}

.monitor-bar #tourl:hover {
    background-color: #b0adad5d;
    color: white;
}

.monitor-bar #tourl:active {
    background-color: #cac8c8a8;
}

.monitor-bar #tourl {
    width: 40px;
    height: 20px;
    border-radius: 3px;
    background-color: #5f5f5fcf;
}



.pop-window {
    display: none;
    /* 默认隐藏 */
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    min-height: 300px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.pop-window-contentbox {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border-radius: 5px;
    width: 80%;
    max-height: 80vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pop-window-content {
    width: 100%;
    overflow: auto;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.pop-window-content-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    top: 0;
    font-size: small;
    min-height: 50px;
    color: black;
}

.pop-window-content-header h1,
h2 {
    position: relative;
    bottom: 0;
    margin-bottom: 0px;
    font-size: medium;
    padding-left: 15px;
}

.pop-window-content-header #close {
    position: absolute;
    right: 5px;
}

.pop-window-content-body {
    position: relative;
    width: 100%;
    min-height: 50px;
    max-height: 70vh;
    height: auto;
    overflow: auto;
}

.pop-window-content-footer {
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 50px;
    color: black;
}

.pop-window .button-group {
    display: inline-flex;
    position: absolute;
    bottom: 15px;
    right: 30px;
}

.pop-window .button-group button {
    margin-left: 10px;
    width: 80px;
    border-radius: 3px;
    background-color: #BBBFC4;
    border: none;
    color: white;
}

#savebtn {
    background-color: #3370FF;
}

#cancelbtn {
    background-color: #BBBFC4;
}

#resetbtn {
    background-color: #D62828;
}

.btn-bl {
    background-color: #3370FF;
}

.nva-bar {
    width: 100%;
    height: 2vh;
    min-height: 18px;
    background-color: rgba(128, 110, 86, 0.731);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nva-bar svg {
    width: 1.5vh;
    height: 1.5vh;
    min-width: 16px;
    min-height: 16px;
}

.nva-btu {
    margin-right: 10px;
    width: 1.5vh;
    height: 1.5vh;
    min-width: 16px;
    min-height: 16px;
}

.nva-logo {
    margin-left: 5px;
    width: 1.5vh;
    height: 1.5vh;
    min-width: 16px;
    min-height: 16px;
}

.iframeController {
    width: 32px;
    height: 30px;
}

.tip {
    position: relative;
}

.tip::after {
    visibility: hidden;
    width: auto;
    min-width: 60px;
    background-color: rgba(0, 0, 0, 0.51);
    color: #fff;
    text-align: center;
    font-size: 4px;
    border-radius: 6px;
    padding: 5px 0;
    content: attr(tiptext);
    position: absolute;
    z-index: 1;
}

.tip:hover::after {
    visibility: visible;
    opacity: 1;
}

.tip::before {
    visibility: hidden;
    opacity: 0;
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
}

.iframeController svg {
    height: 30px;
}

.line {
    margin-left: 5%;
    width: 90%;
    border-bottom: 1px solid rgba(163, 158, 158, 0.5);
}

.content {
    overflow: auto;
    margin-left: 5%;
    width: 90%;
    height: 80%;
    box-sizing: border-box;
    border: 1px solid rgba(163, 158, 158, 0.5);
    border-top: none;
}

#con-root input {
    border: none;
    border-bottom: 1px solid;
    min-width: 100px;
    max-width: 90%;
}

.item {
    background-color: rgba(208, 208, 208, 0.359);
    margin-top: 2px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    border-bottom: 1px solid rgba(136, 136, 136, 0.648);
}

#con-root label {
    width: 10%;
    margin-left: 5px;
}

.item-box {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid rgba(211, 194, 194, 0.648);
}

.new-item {
    display: flex;
    justify-content: center;

}

.new-item:active {
    background: #1890FF;
}